header>a>span{
    color: goldenrod;
}
.home{
  background: url(Images/bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #464646;
  /*height: 90vh;
  min-height: 400px;*/
  width: 100%;
  height: 600px;
  padding-left: 0px;
  padding-right: 0px;
  background-attachment: fixed;
}
.homebg{
  width: 100vw;
}
.nav>nav-link{
  color: white;
}
#about{
  margin-top:50px;
}
#cbutton{
   /*border: 1px solid goldenrod;*/
   background-color: red;
}
.carousel-inner.card-group>.card{
  border-radius: 10px;
}