@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

.loader {
  background: url(Logo/jointheirs.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: whitesmoke; /*#042104;*/
}
section .loader {
  position: relative;
  width: 120px;
  height: 120px;
  animation: animateBg 10s linear infinite;
}

@keyframes animateBg {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

section .loader span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(calc(18deg * var(--i)));
  font-weight: bolder;
}
section .loader span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #00ff0a;
  box-shadow: 0 0 10px #00ff0a, 0 0 20px #00ff0a, 0 0 40px #00ff0a,
    0 0 60px #00ff0a, 0 0 80px #00ff0a, 0 0 100px #00ff0a;
  animation: animate 2s linear infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
  0% {
    transform: scale(1);
  }
  80%,
  100% {
    transform: scale(0);
  }
}

header > a > span {
  color: goldenrod;
}
.home {
  background: url(Images/bg-img.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #464646;
  max-width: 100%;
  width: 100vw;
  height: 90vh;
  padding-left: 0px;
  padding-right: 0px;
  /* background-attachment: fixed; */
}
.hometext {
  position: absolute;
  /* bottom: 50px; */
  top: 80vh;
  width: 100vh;
  margin-left: 35%;
  font-family: "Ubuntu", sans-serif;
  color: goldenrod;
  font-size: 25px;
}
.nav > nav-link {
  color: white;
}
#about {
  margin-top: 50px;
}
#cbutton {
  /*border: 1px solid goldenrod;*/
  background-color: red;
}
.carousel-inner.card-group > .card {
  border-radius: 10px;
}
.second-row {
  position: relative;
  width: 100%;
  height: 100%;
  /*position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;*/
}
.video {
  height: 500px;
}

.responsive-video {
  position: relative;
  padding-bottom: 40%;
  height: 0;
}

.responsive-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 769px) {
  .hometext {
    font-size: 15px;
    top: 270px;
    margin-left: 10%;
    /* background-color: #00ff0a; */
  }
  .home {
    background: url(Images/bg-img2.jpeg);
    height: 300px;
  }
}
