header>a>span{
    color: goldenrod;
}
.home{
  background: url(Images/bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  width: 100vw;
  padding-left: 0px;
  padding-right: 0px;
}
.nav>nav-link{
  color: white;
}
#about{
  margin-top:50px;
}
#cbutton{
   /*border: 1px solid goldenrod;*/
   background-color: red;
}
.carousel-inner.card-group>.card{
  border-radius: 10px;
}